#map {
  width: 600px; 
  height: 450px;
}

.header {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  background-color: rgb(99, 228, 168);
  font-weight: 1500;
  font-style: bold;
}

body {
  background-color: #ededed;
}

figure {
  width: 600px; 
  height: 500px;
}

.subheader {
  padding: 15px;
  background-color: rgb(148, 236, 195);
  font-weight: 850;
  visibility: hidden;
}