#map {
  width: 600px; 
  height: 575px;
  padding: 0%;
}

.header {
  padding: 20px;
  background-color: silver;
  font-weight: 1000;
}

#graph-one{
  width: 600px; 
  height: 500px;
  margin-top: 50px;
}