<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Demographic Table</title>
 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>    
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="row" style="padding-bottom: 25px; height:300px;">
      <h1 class="title" style="text-align: center;">
        <span class="title-image"><img style="height: 150px; width: 225px;"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Flag_of_California.svg/320px-Flag_of_California.svg.png"
        alt="California Flag"></span>
        <span class="title-text">California County Demographic Information</span>
      </h1>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-2">
        <a href="http://127.0.0.1:5000/">
          <button type="button" class="btn btn-dark">County Map</button>
        </a>      </div>
        <div class="col-md-3">
          <a href="http://127.0.0.1:5000/compareCounties">
            <button type="button" class="btn btn-dark">Compare Counties</button>
          </a>      
        </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <table data-toggle="table"
               data-classes="table table-hover table-condensed"
               data-striped="true">
                
  <thead>
    <tr style="text-align: right;">
      <th>County</th>
      <th>Population</th>
      <th>Income_median</th>
      <th>Income_per_capita</th>
      <th>Poverty %</th>
      <th>Employed %</th>
      <th>Unemployed %</th>
      <th>Armed_Forces_Active %</th>
      <th>African_american %</th>
      <th>American_indian_alaskan_native %</th>
      <th>Asian %</th>
      <th>Hispanic_latino %</th>
      <th>Pacific_islander %</th>
      <th>White %</th>
      <th>Other_race %</th>
      <th>Multiple_races</th>
      <th>Poverty_count</th>
      <th>Employed</th>
      <th>Unemployed</th>
      <th>Armed_forces_active</th>
      <th>African_american</th>
      <th>American_indian_alaskan_native</th>
      <th>Asian</th>
      <th>Hispanic_latino</th>
      <th>Pacific_islander</th>
      <th>White</th>
      <th>Other_race</th>
      <th>Multiple_races</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Alameda</td>
      <td>1643700.0</td>
      <td>92574.0</td>
      <td>44283.0</td>
      <td>10.40</td>
      <td>51.54</td>
      <td>2.74</td>
      <td>0.08</td>
      <td>10.78</td>
      <td>0.65</td>
      <td>29.59</td>
      <td>22.45</td>
      <td>0.84</td>
      <td>41.48</td>
      <td>10.33</td>
      <td>6.34</td>
      <td>170884.0</td>
      <td>847170.0</td>
      <td>45110.0</td>
      <td>1327.0</td>
      <td>177135.0</td>
      <td>10712.0</td>
      <td>486434.0</td>
      <td>369061.0</td>
      <td>13768.0</td>
      <td>681725.0</td>
      <td>169771.0</td>
      <td>104155.0</td>
    </tr>
    <tr>
      <td>Alpine</td>
      <td>1146.0</td>
      <td>64688.0</td>
      <td>29041.0</td>
      <td>19.81</td>
      <td>31.94</td>
      <td>6.89</td>
      <td>0.00</td>
      <td>0.79</td>
      <td>27.14</td>
      <td>0.70</td>
      <td>9.16</td>
      <td>0.70</td>
      <td>63.09</td>
      <td>0.00</td>
      <td>7.59</td>
      <td>227.0</td>
      <td>366.0</td>
      <td>79.0</td>
      <td>0.0</td>
      <td>9.0</td>
      <td>311.0</td>
      <td>8.0</td>
      <td>105.0</td>
      <td>8.0</td>
      <td>723.0</td>
      <td>0.0</td>
      <td>87.0</td>
    </tr>
    <tr>
      <td>Amador</td>
      <td>37829.0</td>
      <td>61198.0</td>
      <td>30100.0</td>
      <td>8.78</td>
      <td>35.13</td>
      <td>3.32</td>
      <td>0.08</td>
      <td>2.09</td>
      <td>0.81</td>
      <td>1.32</td>
      <td>13.57</td>
      <td>0.19</td>
      <td>87.21</td>
      <td>3.63</td>
      <td>4.76</td>
      <td>3323.0</td>
      <td>13289.0</td>
      <td>1255.0</td>
      <td>32.0</td>
      <td>790.0</td>
      <td>305.0</td>
      <td>499.0</td>
      <td>5132.0</td>
      <td>73.0</td>
      <td>32989.0</td>
      <td>1374.0</td>
      <td>1799.0</td>
    </tr>
    <tr>
      <td>Butte</td>
      <td>227075.0</td>
      <td>48443.0</td>
      <td>27537.0</td>
      <td>19.56</td>
      <td>41.80</td>
      <td>4.00</td>
      <td>0.04</td>
      <td>1.53</td>
      <td>1.27</td>
      <td>4.47</td>
      <td>16.01</td>
      <td>0.19</td>
      <td>81.95</td>
      <td>4.36</td>
      <td>6.23</td>
      <td>44410.0</td>
      <td>94908.0</td>
      <td>9085.0</td>
      <td>90.0</td>
      <td>3477.0</td>
      <td>2885.0</td>
      <td>10151.0</td>
      <td>36358.0</td>
      <td>427.0</td>
      <td>186095.0</td>
      <td>9890.0</td>
      <td>14150.0</td>
    </tr>
    <tr>
      <td>Calaveras</td>
      <td>45235.0</td>
      <td>58151.0</td>
      <td>32494.0</td>
      <td>11.59</td>
      <td>37.83</td>
      <td>2.47</td>
      <td>0.07</td>
      <td>0.67</td>
      <td>1.09</td>
      <td>1.26</td>
      <td>11.71</td>
      <td>0.28</td>
      <td>91.47</td>
      <td>1.21</td>
      <td>4.03</td>
      <td>5242.0</td>
      <td>17114.0</td>
      <td>1116.0</td>
      <td>33.0</td>
      <td>302.0</td>
      <td>492.0</td>
      <td>568.0</td>
      <td>5297.0</td>
      <td>126.0</td>
      <td>41375.0</td>
      <td>547.0</td>
      <td>1825.0</td>
    </tr>
    <tr>
      <td>Colusa</td>
      <td>21464.0</td>
      <td>56704.0</td>
      <td>27336.0</td>
      <td>13.65</td>
      <td>45.02</td>
      <td>2.42</td>
      <td>0.07</td>
      <td>1.69</td>
      <td>0.94</td>
      <td>1.51</td>
      <td>58.96</td>
      <td>0.25</td>
      <td>87.84</td>
      <td>5.18</td>
      <td>2.60</td>
      <td>2929.0</td>
      <td>9663.0</td>
      <td>520.0</td>
      <td>16.0</td>
      <td>362.0</td>
      <td>201.0</td>
      <td>324.0</td>
      <td>12655.0</td>
      <td>53.0</td>
      <td>18854.0</td>
      <td>1112.0</td>
      <td>558.0</td>
    </tr>
    <tr>
      <td>Contra Costa</td>
      <td>1133247.0</td>
      <td>93712.0</td>
      <td>45524.0</td>
      <td>9.05</td>
      <td>48.30</td>
      <td>3.14</td>
      <td>0.06</td>
      <td>8.59</td>
      <td>0.49</td>
      <td>16.33</td>
      <td>25.42</td>
      <td>0.49</td>
      <td>57.21</td>
      <td>9.97</td>
      <td>6.92</td>
      <td>102543.0</td>
      <td>547323.0</td>
      <td>35563.0</td>
      <td>725.0</td>
      <td>97333.0</td>
      <td>5529.0</td>
      <td>185065.0</td>
      <td>288101.0</td>
      <td>5585.0</td>
      <td>648325.0</td>
      <td>112976.0</td>
      <td>78434.0</td>
    </tr>
    <tr>
      <td>Del Norte</td>
      <td>27424.0</td>
      <td>45258.0</td>
      <td>22832.0</td>
      <td>19.90</td>
      <td>32.17</td>
      <td>2.90</td>
      <td>0.05</td>
      <td>2.86</td>
      <td>7.38</td>
      <td>3.56</td>
      <td>19.47</td>
      <td>0.06</td>
      <td>76.42</td>
      <td>3.53</td>
      <td>6.18</td>
      <td>5458.0</td>
      <td>8823.0</td>
      <td>796.0</td>
      <td>13.0</td>
      <td>785.0</td>
      <td>2024.0</td>
      <td>977.0</td>
      <td>5340.0</td>
      <td>17.0</td>
      <td>20958.0</td>
      <td>968.0</td>
      <td>1695.0</td>
    </tr>
    <tr>
      <td>El Dorado</td>
      <td>186661.0</td>
      <td>80582.0</td>
      <td>40382.0</td>
      <td>8.86</td>
      <td>44.49</td>
      <td>2.94</td>
      <td>0.17</td>
      <td>0.80</td>
      <td>0.68</td>
      <td>4.44</td>
      <td>12.66</td>
      <td>0.22</td>
      <td>87.97</td>
      <td>2.17</td>
      <td>3.72</td>
      <td>16537.0</td>
      <td>83049.0</td>
      <td>5480.0</td>
      <td>324.0</td>
      <td>1494.0</td>
      <td>1268.0</td>
      <td>8291.0</td>
      <td>23631.0</td>
      <td>406.0</td>
      <td>164202.0</td>
      <td>4051.0</td>
      <td>6949.0</td>
    </tr>
    <tr>
      <td>Fresno</td>
      <td>978130.0</td>
      <td>51261.0</td>
      <td>23284.0</td>
      <td>23.73</td>
      <td>40.91</td>
      <td>4.22</td>
      <td>0.07</td>
      <td>4.84</td>
      <td>1.12</td>
      <td>10.23</td>
      <td>52.74</td>
      <td>0.18</td>
      <td>64.15</td>
      <td>15.46</td>
      <td>4.02</td>
      <td>232067.0</td>
      <td>400175.0</td>
      <td>41276.0</td>
      <td>727.0</td>
      <td>47372.0</td>
      <td>10961.0</td>
      <td>100017.0</td>
      <td>515907.0</td>
      <td>1770.0</td>
      <td>627437.0</td>
      <td>151250.0</td>
      <td>39323.0</td>
    </tr>
    <tr>
      <td>Glenn</td>
      <td>27897.0</td>
      <td>47395.0</td>
      <td>21736.0</td>
      <td>18.47</td>
      <td>39.41</td>
      <td>2.89</td>
      <td>0.04</td>
      <td>0.91</td>
      <td>2.40</td>
      <td>2.94</td>
      <td>41.24</td>
      <td>0.18</td>
      <td>82.90</td>
      <td>8.66</td>
      <td>2.00</td>
      <td>5152.0</td>
      <td>10994.0</td>
      <td>806.0</td>
      <td>12.0</td>
      <td>255.0</td>
      <td>670.0</td>
      <td>820.0</td>
      <td>11504.0</td>
      <td>51.0</td>
      <td>23127.0</td>
      <td>2416.0</td>
      <td>558.0</td>
    </tr>
    <tr>
      <td>Humboldt</td>
      <td>135768.0</td>
      <td>45528.0</td>
      <td>26747.0</td>
      <td>19.86</td>
      <td>44.91</td>
      <td>3.92</td>
      <td>0.04</td>
      <td>1.17</td>
      <td>5.01</td>
      <td>3.06</td>
      <td>11.31</td>
      <td>0.32</td>
      <td>80.12</td>
      <td>4.26</td>
      <td>6.06</td>
      <td>26957.0</td>
      <td>60970.0</td>
      <td>5327.0</td>
      <td>59.0</td>
      <td>1585.0</td>
      <td>6797.0</td>
      <td>4160.0</td>
      <td>15360.0</td>
      <td>436.0</td>
      <td>108784.0</td>
      <td>5778.0</td>
      <td>8228.0</td>
    </tr>
    <tr>
      <td>Imperial</td>
      <td>180216.0</td>
      <td>45834.0</td>
      <td>17590.0</td>
      <td>22.86</td>
      <td>33.25</td>
      <td>5.98</td>
      <td>0.22</td>
      <td>2.55</td>
      <td>1.00</td>
      <td>1.49</td>
      <td>83.80</td>
      <td>0.23</td>
      <td>64.27</td>
      <td>26.28</td>
      <td>4.18</td>
      <td>41191.0</td>
      <td>59919.0</td>
      <td>10782.0</td>
      <td>388.0</td>
      <td>4591.0</td>
      <td>1801.0</td>
      <td>2684.0</td>
      <td>151019.0</td>
      <td>419.0</td>
      <td>115817.0</td>
      <td>47362.0</td>
      <td>7542.0</td>
    </tr>
    <tr>
      <td>Inyo</td>
      <td>18085.0</td>
      <td>52874.0</td>
      <td>31540.0</td>
      <td>9.91</td>
      <td>44.73</td>
      <td>2.47</td>
      <td>0.00</td>
      <td>0.89</td>
      <td>11.62</td>
      <td>1.60</td>
      <td>21.71</td>
      <td>0.19</td>
      <td>80.49</td>
      <td>1.78</td>
      <td>3.42</td>
      <td>1792.0</td>
      <td>8090.0</td>
      <td>447.0</td>
      <td>0.0</td>
      <td>161.0</td>
      <td>2101.0</td>
      <td>290.0</td>
      <td>3927.0</td>
      <td>35.0</td>
      <td>14557.0</td>
      <td>322.0</td>
      <td>619.0</td>
    </tr>
    <tr>
      <td>Kern</td>
      <td>883053.0</td>
      <td>52479.0</td>
      <td>22553.0</td>
      <td>21.20</td>
      <td>38.43</td>
      <td>4.42</td>
      <td>0.19</td>
      <td>5.46</td>
      <td>1.07</td>
      <td>4.74</td>
      <td>52.75</td>
      <td>0.19</td>
      <td>75.15</td>
      <td>9.87</td>
      <td>3.53</td>
      <td>187232.0</td>
      <td>339384.0</td>
      <td>39056.0</td>
      <td>1711.0</td>
      <td>48179.0</td>
      <td>9488.0</td>
      <td>41842.0</td>
      <td>465842.0</td>
      <td>1698.0</td>
      <td>663592.0</td>
      <td>87118.0</td>
      <td>31136.0</td>
    </tr>
    <tr>
      <td>Kings</td>
      <td>150075.0</td>
      <td>53865.0</td>
      <td>21186.0</td>
      <td>18.71</td>
      <td>35.46</td>
      <td>3.24</td>
      <td>2.75</td>
      <td>6.45</td>
      <td>1.53</td>
      <td>3.96</td>
      <td>54.08</td>
      <td>0.22</td>
      <td>65.59</td>
      <td>17.97</td>
      <td>4.27</td>
      <td>28084.0</td>
      <td>53217.0</td>
      <td>4855.0</td>
      <td>4121.0</td>
      <td>9687.0</td>
      <td>2291.0</td>
      <td>5946.0</td>
      <td>81154.0</td>
      <td>337.0</td>
      <td>98429.0</td>
      <td>26971.0</td>
      <td>6414.0</td>
    </tr>
    <tr>
      <td>Lake</td>
      <td>64148.0</td>
      <td>42475.0</td>
      <td>25404.0</td>
      <td>20.61</td>
      <td>36.77</td>
      <td>3.98</td>
      <td>0.02</td>
      <td>2.43</td>
      <td>3.78</td>
      <td>1.03</td>
      <td>20.00</td>
      <td>0.05</td>
      <td>77.11</td>
      <td>12.55</td>
      <td>3.05</td>
      <td>13224.0</td>
      <td>23589.0</td>
      <td>2556.0</td>
      <td>15.0</td>
      <td>1562.0</td>
      <td>2426.0</td>
      <td>661.0</td>
      <td>12830.0</td>
      <td>30.0</td>
      <td>49463.0</td>
      <td>8048.0</td>
      <td>1958.0</td>
    </tr>
    <tr>
      <td>Lassen</td>
      <td>31185.0</td>
      <td>56362.0</td>
      <td>21897.0</td>
      <td>9.41</td>
      <td>28.18</td>
      <td>1.83</td>
      <td>0.11</td>
      <td>8.78</td>
      <td>2.81</td>
      <td>1.40</td>
      <td>18.71</td>
      <td>0.66</td>
      <td>82.32</td>
      <td>1.89</td>
      <td>2.14</td>
      <td>2933.0</td>
      <td>8788.0</td>
      <td>570.0</td>
      <td>34.0</td>
      <td>2738.0</td>
      <td>877.0</td>
      <td>437.0</td>
      <td>5834.0</td>
      <td>205.0</td>
      <td>25672.0</td>
      <td>590.0</td>
      <td>666.0</td>
    </tr>
    <tr>
      <td>Los Angeles</td>
      <td>10098052.0</td>
      <td>64251.0</td>
      <td>32469.0</td>
      <td>15.75</td>
      <td>48.22</td>
      <td>3.54</td>
      <td>0.04</td>
      <td>8.16</td>
      <td>0.70</td>
      <td>14.56</td>
      <td>48.46</td>
      <td>0.28</td>
      <td>51.36</td>
      <td>21.01</td>
      <td>3.94</td>
      <td>1589956.0</td>
      <td>4869658.0</td>
      <td>357178.0</td>
      <td>3558.0</td>
      <td>823987.0</td>
      <td>70527.0</td>
      <td>1469968.0</td>
      <td>4893603.0</td>
      <td>27929.0</td>
      <td>5186859.0</td>
      <td>2121102.0</td>
      <td>397680.0</td>
    </tr>
    <tr>
      <td>Madera</td>
      <td>155013.0</td>
      <td>52884.0</td>
      <td>21394.0</td>
      <td>19.71</td>
      <td>37.29</td>
      <td>3.38</td>
      <td>0.03</td>
      <td>3.24</td>
      <td>1.62</td>
      <td>2.12</td>
      <td>57.29</td>
      <td>0.11</td>
      <td>72.01</td>
      <td>17.38</td>
      <td>3.52</td>
      <td>30549.0</td>
      <td>57799.0</td>
      <td>5243.0</td>
      <td>41.0</td>
      <td>5026.0</td>
      <td>2505.0</td>
      <td>3294.0</td>
      <td>88806.0</td>
      <td>169.0</td>
      <td>111621.0</td>
      <td>26944.0</td>
      <td>5454.0</td>
    </tr>
    <tr>
      <td>Marin</td>
      <td>260295.0</td>
      <td>110217.0</td>
      <td>69275.0</td>
      <td>7.43</td>
      <td>50.49</td>
      <td>1.98</td>
      <td>0.07</td>
      <td>2.19</td>
      <td>0.28</td>
      <td>5.76</td>
      <td>15.88</td>
      <td>0.22</td>
      <td>78.12</td>
      <td>8.55</td>
      <td>4.86</td>
      <td>19341.0</td>
      <td>131425.0</td>
      <td>5149.0</td>
      <td>186.0</td>
      <td>5709.0</td>
      <td>737.0</td>
      <td>15000.0</td>
      <td>41335.0</td>
      <td>584.0</td>
      <td>203342.0</td>
      <td>22262.0</td>
      <td>12661.0</td>
    </tr>
    <tr>
      <td>Mariposa</td>
      <td>17540.0</td>
      <td>51199.0</td>
      <td>29776.0</td>
      <td>13.88</td>
      <td>40.20</td>
      <td>3.85</td>
      <td>0.05</td>
      <td>0.95</td>
      <td>2.26</td>
      <td>1.39</td>
      <td>10.88</td>
      <td>0.31</td>
      <td>88.82</td>
      <td>2.26</td>
      <td>4.02</td>
      <td>2435.0</td>
      <td>7051.0</td>
      <td>676.0</td>
      <td>8.0</td>
      <td>166.0</td>
      <td>397.0</td>
      <td>243.0</td>
      <td>1909.0</td>
      <td>54.0</td>
      <td>15579.0</td>
      <td>396.0</td>
      <td>705.0</td>
    </tr>
    <tr>
      <td>Mendocino</td>
      <td>87422.0</td>
      <td>49233.0</td>
      <td>27395.0</td>
      <td>18.16</td>
      <td>43.14</td>
      <td>4.39</td>
      <td>0.10</td>
      <td>0.61</td>
      <td>4.11</td>
      <td>1.93</td>
      <td>24.80</td>
      <td>0.19</td>
      <td>83.64</td>
      <td>4.60</td>
      <td>4.92</td>
      <td>15877.0</td>
      <td>37712.0</td>
      <td>3837.0</td>
      <td>87.0</td>
      <td>531.0</td>
      <td>3591.0</td>
      <td>1689.0</td>
      <td>21679.0</td>
      <td>170.0</td>
      <td>73121.0</td>
      <td>4020.0</td>
      <td>4300.0</td>
    </tr>
    <tr>
      <td>Merced</td>
      <td>269075.0</td>
      <td>50129.0</td>
      <td>21634.0</td>
      <td>22.17</td>
      <td>38.14</td>
      <td>5.54</td>
      <td>0.02</td>
      <td>3.26</td>
      <td>0.74</td>
      <td>7.48</td>
      <td>58.90</td>
      <td>0.23</td>
      <td>57.37</td>
      <td>26.81</td>
      <td>4.10</td>
      <td>59660.0</td>
      <td>102638.0</td>
      <td>14912.0</td>
      <td>54.0</td>
      <td>8772.0</td>
      <td>1988.0</td>
      <td>20131.0</td>
      <td>158494.0</td>
      <td>623.0</td>
      <td>154376.0</td>
      <td>72152.0</td>
      <td>11033.0</td>
    </tr>
    <tr>
      <td>Modoc</td>
      <td>8938.0</td>
      <td>45149.0</td>
      <td>23235.0</td>
      <td>16.06</td>
      <td>34.96</td>
      <td>3.07</td>
      <td>0.00</td>
      <td>1.67</td>
      <td>3.33</td>
      <td>1.57</td>
      <td>14.46</td>
      <td>0.07</td>
      <td>90.02</td>
      <td>0.58</td>
      <td>2.76</td>
      <td>1435.0</td>
      <td>3125.0</td>
      <td>274.0</td>
      <td>0.0</td>
      <td>149.0</td>
      <td>298.0</td>
      <td>140.0</td>
      <td>1292.0</td>
      <td>6.0</td>
      <td>8046.0</td>
      <td>52.0</td>
      <td>247.0</td>
    </tr>
    <tr>
      <td>Mono</td>
      <td>14174.0</td>
      <td>63018.0</td>
      <td>33421.0</td>
      <td>10.26</td>
      <td>58.40</td>
      <td>1.85</td>
      <td>0.61</td>
      <td>0.74</td>
      <td>3.72</td>
      <td>2.39</td>
      <td>27.28</td>
      <td>0.00</td>
      <td>84.78</td>
      <td>5.65</td>
      <td>2.72</td>
      <td>1454.0</td>
      <td>8278.0</td>
      <td>262.0</td>
      <td>86.0</td>
      <td>105.0</td>
      <td>527.0</td>
      <td>339.0</td>
      <td>3866.0</td>
      <td>0.0</td>
      <td>12017.0</td>
      <td>801.0</td>
      <td>385.0</td>
    </tr>
    <tr>
      <td>Monterey</td>
      <td>433212.0</td>
      <td>66676.0</td>
      <td>28836.0</td>
      <td>13.55</td>
      <td>42.71</td>
      <td>2.42</td>
      <td>1.24</td>
      <td>2.59</td>
      <td>0.74</td>
      <td>5.62</td>
      <td>58.31</td>
      <td>0.46</td>
      <td>59.26</td>
      <td>27.10</td>
      <td>4.23</td>
      <td>58699.0</td>
      <td>185025.0</td>
      <td>10475.0</td>
      <td>5371.0</td>
      <td>11200.0</td>
      <td>3221.0</td>
      <td>24342.0</td>
      <td>252588.0</td>
      <td>2011.0</td>
      <td>256709.0</td>
      <td>117386.0</td>
      <td>18343.0</td>
    </tr>
    <tr>
      <td>Napa</td>
      <td>140530.0</td>
      <td>84753.0</td>
      <td>42677.0</td>
      <td>7.95</td>
      <td>50.44</td>
      <td>2.65</td>
      <td>0.05</td>
      <td>2.04</td>
      <td>0.85</td>
      <td>8.09</td>
      <td>33.93</td>
      <td>0.19</td>
      <td>73.09</td>
      <td>11.91</td>
      <td>3.82</td>
      <td>11168.0</td>
      <td>70888.0</td>
      <td>3728.0</td>
      <td>77.0</td>
      <td>2867.0</td>
      <td>1198.0</td>
      <td>11373.0</td>
      <td>47687.0</td>
      <td>272.0</td>
      <td>102711.0</td>
      <td>16738.0</td>
      <td>5371.0</td>
    </tr>
    <tr>
      <td>Nevada</td>
      <td>99092.0</td>
      <td>63240.0</td>
      <td>37145.0</td>
      <td>11.27</td>
      <td>43.77</td>
      <td>3.00</td>
      <td>0.16</td>
      <td>0.66</td>
      <td>0.87</td>
      <td>1.02</td>
      <td>9.37</td>
      <td>0.16</td>
      <td>92.42</td>
      <td>1.39</td>
      <td>3.48</td>
      <td>11169.0</td>
      <td>43368.0</td>
      <td>2971.0</td>
      <td>160.0</td>
      <td>655.0</td>
      <td>864.0</td>
      <td>1008.0</td>
      <td>9281.0</td>
      <td>154.0</td>
      <td>91579.0</td>
      <td>1379.0</td>
      <td>3453.0</td>
    </tr>
    <tr>
      <td>Orange</td>
      <td>3164182.0</td>
      <td>85398.0</td>
      <td>39590.0</td>
      <td>11.36</td>
      <td>49.87</td>
      <td>2.67</td>
      <td>0.05</td>
      <td>1.73</td>
      <td>0.46</td>
      <td>20.09</td>
      <td>34.14</td>
      <td>0.30</td>
      <td>61.66</td>
      <td>11.71</td>
      <td>4.05</td>
      <td>359503.0</td>
      <td>1578079.0</td>
      <td>84431.0</td>
      <td>1562.0</td>
      <td>54732.0</td>
      <td>14466.0</td>
      <td>635672.0</td>
      <td>1080195.0</td>
      <td>9442.0</td>
      <td>1950902.0</td>
      <td>370679.0</td>
      <td>128289.0</td>
    </tr>
    <tr>
      <td>Placer</td>
      <td>380077.0</td>
      <td>84357.0</td>
      <td>41508.0</td>
      <td>7.97</td>
      <td>45.65</td>
      <td>2.37</td>
      <td>0.28</td>
      <td>1.63</td>
      <td>0.50</td>
      <td>7.24</td>
      <td>13.81</td>
      <td>0.22</td>
      <td>82.52</td>
      <td>3.14</td>
      <td>4.75</td>
      <td>30293.0</td>
      <td>173493.0</td>
      <td>9005.0</td>
      <td>1046.0</td>
      <td>6197.0</td>
      <td>1890.0</td>
      <td>27535.0</td>
      <td>52498.0</td>
      <td>839.0</td>
      <td>313636.0</td>
      <td>11920.0</td>
      <td>18060.0</td>
    </tr>
    <tr>
      <td>Plumas</td>
      <td>18699.0</td>
      <td>53270.0</td>
      <td>32710.0</td>
      <td>11.48</td>
      <td>40.30</td>
      <td>2.76</td>
      <td>0.00</td>
      <td>1.04</td>
      <td>2.29</td>
      <td>1.07</td>
      <td>8.71</td>
      <td>0.22</td>
      <td>89.06</td>
      <td>2.48</td>
      <td>3.84</td>
      <td>2146.0</td>
      <td>7536.0</td>
      <td>516.0</td>
      <td>0.0</td>
      <td>194.0</td>
      <td>428.0</td>
      <td>200.0</td>
      <td>1629.0</td>
      <td>41.0</td>
      <td>16654.0</td>
      <td>464.0</td>
      <td>718.0</td>
    </tr>
    <tr>
      <td>Riverside</td>
      <td>2383286.0</td>
      <td>63948.0</td>
      <td>27142.0</td>
      <td>14.51</td>
      <td>42.29</td>
      <td>3.97</td>
      <td>0.18</td>
      <td>6.44</td>
      <td>0.81</td>
      <td>6.38</td>
      <td>48.44</td>
      <td>0.29</td>
      <td>60.85</td>
      <td>20.78</td>
      <td>4.45</td>
      <td>345724.0</td>
      <td>1007795.0</td>
      <td>94709.0</td>
      <td>4277.0</td>
      <td>153545.0</td>
      <td>19281.0</td>
      <td>152130.0</td>
      <td>1154517.0</td>
      <td>6843.0</td>
      <td>1450134.0</td>
      <td>495241.0</td>
      <td>106112.0</td>
    </tr>
    <tr>
      <td>Sacramento</td>
      <td>1510023.0</td>
      <td>63902.0</td>
      <td>31311.0</td>
      <td>15.63</td>
      <td>45.43</td>
      <td>3.61</td>
      <td>0.08</td>
      <td>9.87</td>
      <td>0.68</td>
      <td>15.59</td>
      <td>22.98</td>
      <td>1.11</td>
      <td>58.00</td>
      <td>7.62</td>
      <td>7.12</td>
      <td>235982.0</td>
      <td>686019.0</td>
      <td>54551.0</td>
      <td>1261.0</td>
      <td>149064.0</td>
      <td>10340.0</td>
      <td>235474.0</td>
      <td>347025.0</td>
      <td>16715.0</td>
      <td>875793.0</td>
      <td>115072.0</td>
      <td>107565.0</td>
    </tr>
    <tr>
      <td>San Benito</td>
      <td>59416.0</td>
      <td>81977.0</td>
      <td>31475.0</td>
      <td>9.19</td>
      <td>48.52</td>
      <td>3.86</td>
      <td>0.06</td>
      <td>0.74</td>
      <td>0.71</td>
      <td>2.93</td>
      <td>59.32</td>
      <td>0.20</td>
      <td>82.22</td>
      <td>8.47</td>
      <td>4.73</td>
      <td>5459.0</td>
      <td>28831.0</td>
      <td>2294.0</td>
      <td>34.0</td>
      <td>440.0</td>
      <td>422.0</td>
      <td>1739.0</td>
      <td>35248.0</td>
      <td>117.0</td>
      <td>48851.0</td>
      <td>5035.0</td>
      <td>2812.0</td>
    </tr>
    <tr>
      <td>San Bernardino</td>
      <td>2135413.0</td>
      <td>60164.0</td>
      <td>23956.0</td>
      <td>16.82</td>
      <td>41.79</td>
      <td>4.01</td>
      <td>0.52</td>
      <td>8.35</td>
      <td>0.84</td>
      <td>7.02</td>
      <td>52.81</td>
      <td>0.30</td>
      <td>61.11</td>
      <td>17.64</td>
      <td>4.74</td>
      <td>359080.0</td>
      <td>892435.0</td>
      <td>85647.0</td>
      <td>11076.0</td>
      <td>178404.0</td>
      <td>17894.0</td>
      <td>149837.0</td>
      <td>1127813.0</td>
      <td>6506.0</td>
      <td>1305047.0</td>
      <td>376608.0</td>
      <td>101117.0</td>
    </tr>
    <tr>
      <td>San Diego</td>
      <td>3302833.0</td>
      <td>74855.0</td>
      <td>36156.0</td>
      <td>12.21</td>
      <td>47.38</td>
      <td>3.24</td>
      <td>2.22</td>
      <td>5.04</td>
      <td>0.64</td>
      <td>11.82</td>
      <td>33.51</td>
      <td>0.42</td>
      <td>70.71</td>
      <td>6.22</td>
      <td>5.16</td>
      <td>403190.0</td>
      <td>1564930.0</td>
      <td>106962.0</td>
      <td>73294.0</td>
      <td>166412.0</td>
      <td>20980.0</td>
      <td>390418.0</td>
      <td>1106925.0</td>
      <td>13903.0</td>
      <td>2335447.0</td>
      <td>205307.0</td>
      <td>170366.0</td>
    </tr>
    <tr>
      <td>San Francisco</td>
      <td>870044.0</td>
      <td>104552.0</td>
      <td>64157.0</td>
      <td>10.69</td>
      <td>59.24</td>
      <td>2.91</td>
      <td>0.03</td>
      <td>5.22</td>
      <td>0.32</td>
      <td>34.21</td>
      <td>15.25</td>
      <td>0.33</td>
      <td>46.73</td>
      <td>7.75</td>
      <td>5.44</td>
      <td>92979.0</td>
      <td>515382.0</td>
      <td>25320.0</td>
      <td>262.0</td>
      <td>45402.0</td>
      <td>2746.0</td>
      <td>297667.0</td>
      <td>132651.0</td>
      <td>2911.0</td>
      <td>406538.0</td>
      <td>67424.0</td>
      <td>47356.0</td>
    </tr>
    <tr>
      <td>San Joaquin</td>
      <td>732212.0</td>
      <td>61145.0</td>
      <td>26145.0</td>
      <td>15.61</td>
      <td>41.72</td>
      <td>3.96</td>
      <td>0.06</td>
      <td>7.10</td>
      <td>0.65</td>
      <td>15.43</td>
      <td>41.14</td>
      <td>0.61</td>
      <td>56.26</td>
      <td>9.75</td>
      <td>10.20</td>
      <td>114294.0</td>
      <td>305509.0</td>
      <td>28989.0</td>
      <td>405.0</td>
      <td>52023.0</td>
      <td>4725.0</td>
      <td>112997.0</td>
      <td>301256.0</td>
      <td>4463.0</td>
      <td>411958.0</td>
      <td>71360.0</td>
      <td>74686.0</td>
    </tr>
    <tr>
      <td>San Luis Obispo</td>
      <td>281455.0</td>
      <td>70699.0</td>
      <td>35832.0</td>
      <td>12.54</td>
      <td>45.96</td>
      <td>2.19</td>
      <td>0.66</td>
      <td>1.87</td>
      <td>0.68</td>
      <td>3.64</td>
      <td>22.38</td>
      <td>0.09</td>
      <td>86.01</td>
      <td>4.11</td>
      <td>3.60</td>
      <td>35303.0</td>
      <td>129358.0</td>
      <td>6175.0</td>
      <td>1866.0</td>
      <td>5265.0</td>
      <td>1900.0</td>
      <td>10234.0</td>
      <td>63002.0</td>
      <td>258.0</td>
      <td>242078.0</td>
      <td>11581.0</td>
      <td>10139.0</td>
    </tr>
    <tr>
      <td>San Mateo</td>
      <td>765935.0</td>
      <td>113776.0</td>
      <td>57375.0</td>
      <td>6.97</td>
      <td>53.52</td>
      <td>2.29</td>
      <td>0.03</td>
      <td>2.33</td>
      <td>0.38</td>
      <td>28.11</td>
      <td>24.68</td>
      <td>1.37</td>
      <td>51.05</td>
      <td>11.17</td>
      <td>5.58</td>
      <td>53387.0</td>
      <td>409911.0</td>
      <td>17556.0</td>
      <td>250.0</td>
      <td>17849.0</td>
      <td>2922.0</td>
      <td>215337.0</td>
      <td>189002.0</td>
      <td>10504.0</td>
      <td>391024.0</td>
      <td>85574.0</td>
      <td>42725.0</td>
    </tr>
    <tr>
      <td>Santa Barbara</td>
      <td>443738.0</td>
      <td>71657.0</td>
      <td>34229.0</td>
      <td>14.20</td>
      <td>47.72</td>
      <td>3.12</td>
      <td>0.39</td>
      <td>1.94</td>
      <td>0.99</td>
      <td>5.38</td>
      <td>45.09</td>
      <td>0.18</td>
      <td>77.53</td>
      <td>9.47</td>
      <td>4.51</td>
      <td>63010.0</td>
      <td>211751.0</td>
      <td>13861.0</td>
      <td>1749.0</td>
      <td>8626.0</td>
      <td>4389.0</td>
      <td>23863.0</td>
      <td>200060.0</td>
      <td>814.0</td>
      <td>344026.0</td>
      <td>42024.0</td>
      <td>19996.0</td>
    </tr>
    <tr>
      <td>Santa Clara</td>
      <td>1922200.0</td>
      <td>116178.0</td>
      <td>52451.0</td>
      <td>7.80</td>
      <td>51.29</td>
      <td>2.58</td>
      <td>0.03</td>
      <td>2.50</td>
      <td>0.48</td>
      <td>35.85</td>
      <td>25.78</td>
      <td>0.39</td>
      <td>45.02</td>
      <td>10.72</td>
      <td>5.03</td>
      <td>149850.0</td>
      <td>985838.0</td>
      <td>49598.0</td>
      <td>587.0</td>
      <td>48058.0</td>
      <td>9303.0</td>
      <td>689176.0</td>
      <td>495455.0</td>
      <td>7541.0</td>
      <td>865460.0</td>
      <td>205997.0</td>
      <td>96665.0</td>
    </tr>
    <tr>
      <td>Santa Cruz</td>
      <td>273765.0</td>
      <td>78041.0</td>
      <td>39001.0</td>
      <td>13.67</td>
      <td>49.28</td>
      <td>3.30</td>
      <td>0.05</td>
      <td>0.95</td>
      <td>0.50</td>
      <td>4.60</td>
      <td>33.49</td>
      <td>0.12</td>
      <td>76.15</td>
      <td>12.98</td>
      <td>4.70</td>
      <td>37429.0</td>
      <td>134904.0</td>
      <td>9027.0</td>
      <td>150.0</td>
      <td>2596.0</td>
      <td>1375.0</td>
      <td>12601.0</td>
      <td>91676.0</td>
      <td>316.0</td>
      <td>208476.0</td>
      <td>35546.0</td>
      <td>12855.0</td>
    </tr>
    <tr>
      <td>Shasta</td>
      <td>179085.0</td>
      <td>50905.0</td>
      <td>27983.0</td>
      <td>16.86</td>
      <td>40.42</td>
      <td>2.69</td>
      <td>0.01</td>
      <td>1.23</td>
      <td>2.63</td>
      <td>3.03</td>
      <td>9.83</td>
      <td>0.11</td>
      <td>87.02</td>
      <td>1.91</td>
      <td>4.08</td>
      <td>30186.0</td>
      <td>72392.0</td>
      <td>4824.0</td>
      <td>21.0</td>
      <td>2209.0</td>
      <td>4704.0</td>
      <td>5427.0</td>
      <td>17605.0</td>
      <td>191.0</td>
      <td>155840.0</td>
      <td>3415.0</td>
      <td>7299.0</td>
    </tr>
    <tr>
      <td>Sierra</td>
      <td>2930.0</td>
      <td>48125.0</td>
      <td>31972.0</td>
      <td>8.23</td>
      <td>42.70</td>
      <td>2.05</td>
      <td>0.00</td>
      <td>0.20</td>
      <td>0.85</td>
      <td>0.00</td>
      <td>11.06</td>
      <td>0.00</td>
      <td>98.63</td>
      <td>0.00</td>
      <td>0.31</td>
      <td>241.0</td>
      <td>1251.0</td>
      <td>60.0</td>
      <td>0.0</td>
      <td>6.0</td>
      <td>25.0</td>
      <td>0.0</td>
      <td>324.0</td>
      <td>0.0</td>
      <td>2890.0</td>
      <td>0.0</td>
      <td>9.0</td>
    </tr>
    <tr>
      <td>Siskiyou</td>
      <td>43540.0</td>
      <td>44200.0</td>
      <td>28130.0</td>
      <td>19.23</td>
      <td>38.41</td>
      <td>3.31</td>
      <td>0.06</td>
      <td>1.45</td>
      <td>3.37</td>
      <td>1.56</td>
      <td>12.26</td>
      <td>0.34</td>
      <td>84.91</td>
      <td>1.65</td>
      <td>6.71</td>
      <td>8374.0</td>
      <td>16725.0</td>
      <td>1440.0</td>
      <td>26.0</td>
      <td>632.0</td>
      <td>1469.0</td>
      <td>678.0</td>
      <td>5336.0</td>
      <td>149.0</td>
      <td>36971.0</td>
      <td>719.0</td>
      <td>2922.0</td>
    </tr>
    <tr>
      <td>Solano</td>
      <td>438530.0</td>
      <td>77609.0</td>
      <td>33700.0</td>
      <td>10.13</td>
      <td>46.23</td>
      <td>3.50</td>
      <td>0.85</td>
      <td>14.10</td>
      <td>0.48</td>
      <td>15.46</td>
      <td>26.09</td>
      <td>0.94</td>
      <td>52.71</td>
      <td>9.11</td>
      <td>7.20</td>
      <td>44427.0</td>
      <td>202713.0</td>
      <td>15346.0</td>
      <td>3744.0</td>
      <td>61826.0</td>
      <td>2114.0</td>
      <td>67813.0</td>
      <td>114406.0</td>
      <td>4113.0</td>
      <td>231149.0</td>
      <td>39952.0</td>
      <td>31563.0</td>
    </tr>
    <tr>
      <td>Sonoma</td>
      <td>501317.0</td>
      <td>76753.0</td>
      <td>39929.0</td>
      <td>10.12</td>
      <td>50.55</td>
      <td>2.70</td>
      <td>0.17</td>
      <td>1.59</td>
      <td>0.97</td>
      <td>4.01</td>
      <td>26.53</td>
      <td>0.33</td>
      <td>74.91</td>
      <td>12.65</td>
      <td>5.55</td>
      <td>50714.0</td>
      <td>253421.0</td>
      <td>13543.0</td>
      <td>872.0</td>
      <td>7960.0</td>
      <td>4854.0</td>
      <td>20087.0</td>
      <td>132985.0</td>
      <td>1636.0</td>
      <td>375519.0</td>
      <td>63422.0</td>
      <td>27839.0</td>
    </tr>
    <tr>
      <td>Stanislaus</td>
      <td>539301.0</td>
      <td>57387.0</td>
      <td>25101.0</td>
      <td>15.96</td>
      <td>41.26</td>
      <td>4.85</td>
      <td>0.03</td>
      <td>2.88</td>
      <td>0.79</td>
      <td>5.42</td>
      <td>45.61</td>
      <td>0.74</td>
      <td>75.80</td>
      <td>10.17</td>
      <td>4.19</td>
      <td>86066.0</td>
      <td>222532.0</td>
      <td>26130.0</td>
      <td>180.0</td>
      <td>15534.0</td>
      <td>4261.0</td>
      <td>29248.0</td>
      <td>245973.0</td>
      <td>3973.0</td>
      <td>408817.0</td>
      <td>54861.0</td>
      <td>22607.0</td>
    </tr>
    <tr>
      <td>Sutter</td>
      <td>95872.0</td>
      <td>56955.0</td>
      <td>26070.0</td>
      <td>15.83</td>
      <td>40.33</td>
      <td>4.32</td>
      <td>0.50</td>
      <td>2.09</td>
      <td>0.98</td>
      <td>15.27</td>
      <td>30.62</td>
      <td>0.59</td>
      <td>69.63</td>
      <td>4.63</td>
      <td>6.82</td>
      <td>15181.0</td>
      <td>38664.0</td>
      <td>4144.0</td>
      <td>478.0</td>
      <td>2006.0</td>
      <td>936.0</td>
      <td>14635.0</td>
      <td>29354.0</td>
      <td>569.0</td>
      <td>66752.0</td>
      <td>4435.0</td>
      <td>6539.0</td>
    </tr>
    <tr>
      <td>Tehama</td>
      <td>63373.0</td>
      <td>42899.0</td>
      <td>23126.0</td>
      <td>21.25</td>
      <td>38.29</td>
      <td>3.92</td>
      <td>0.07</td>
      <td>0.74</td>
      <td>2.56</td>
      <td>1.52</td>
      <td>24.65</td>
      <td>0.03</td>
      <td>85.40</td>
      <td>5.74</td>
      <td>4.01</td>
      <td>13464.0</td>
      <td>24265.0</td>
      <td>2484.0</td>
      <td>47.0</td>
      <td>471.0</td>
      <td>1621.0</td>
      <td>964.0</td>
      <td>15623.0</td>
      <td>19.0</td>
      <td>54119.0</td>
      <td>3639.0</td>
      <td>2540.0</td>
    </tr>
    <tr>
      <td>Trinity</td>
      <td>12862.0</td>
      <td>38497.0</td>
      <td>25964.0</td>
      <td>19.37</td>
      <td>36.99</td>
      <td>3.47</td>
      <td>0.00</td>
      <td>0.68</td>
      <td>4.49</td>
      <td>1.61</td>
      <td>7.23</td>
      <td>1.23</td>
      <td>86.58</td>
      <td>2.93</td>
      <td>2.49</td>
      <td>2491.0</td>
      <td>4758.0</td>
      <td>446.0</td>
      <td>0.0</td>
      <td>87.0</td>
      <td>577.0</td>
      <td>207.0</td>
      <td>930.0</td>
      <td>158.0</td>
      <td>11136.0</td>
      <td>377.0</td>
      <td>320.0</td>
    </tr>
    <tr>
      <td>Tulare</td>
      <td>460477.0</td>
      <td>47518.0</td>
      <td>20421.0</td>
      <td>25.14</td>
      <td>38.49</td>
      <td>3.98</td>
      <td>0.06</td>
      <td>1.59</td>
      <td>1.19</td>
      <td>3.57</td>
      <td>64.10</td>
      <td>0.15</td>
      <td>76.50</td>
      <td>13.63</td>
      <td>3.37</td>
      <td>115786.0</td>
      <td>177236.0</td>
      <td>18321.0</td>
      <td>291.0</td>
      <td>7326.0</td>
      <td>5469.0</td>
      <td>16462.0</td>
      <td>295149.0</td>
      <td>697.0</td>
      <td>352259.0</td>
      <td>62743.0</td>
      <td>15521.0</td>
    </tr>
    <tr>
      <td>Tuolumne</td>
      <td>53932.0</td>
      <td>56493.0</td>
      <td>33685.0</td>
      <td>12.45</td>
      <td>38.81</td>
      <td>2.81</td>
      <td>0.01</td>
      <td>1.72</td>
      <td>1.85</td>
      <td>1.39</td>
      <td>12.10</td>
      <td>0.25</td>
      <td>87.50</td>
      <td>2.66</td>
      <td>4.64</td>
      <td>6715.0</td>
      <td>20930.0</td>
      <td>1516.0</td>
      <td>3.0</td>
      <td>926.0</td>
      <td>997.0</td>
      <td>749.0</td>
      <td>6527.0</td>
      <td>134.0</td>
      <td>47189.0</td>
      <td>1432.0</td>
      <td>2505.0</td>
    </tr>
    <tr>
      <td>Ventura</td>
      <td>848112.0</td>
      <td>84017.0</td>
      <td>36891.0</td>
      <td>9.44</td>
      <td>48.61</td>
      <td>3.05</td>
      <td>0.38</td>
      <td>1.75</td>
      <td>0.83</td>
      <td>7.28</td>
      <td>42.45</td>
      <td>0.21</td>
      <td>80.20</td>
      <td>5.29</td>
      <td>4.43</td>
      <td>80058.0</td>
      <td>412228.0</td>
      <td>25853.0</td>
      <td>3249.0</td>
      <td>14835.0</td>
      <td>7069.0</td>
      <td>61772.0</td>
      <td>360017.0</td>
      <td>1771.0</td>
      <td>680197.0</td>
      <td>44907.0</td>
      <td>37561.0</td>
    </tr>
    <tr>
      <td>Yolo</td>
      <td>214977.0</td>
      <td>65923.0</td>
      <td>32598.0</td>
      <td>18.88</td>
      <td>45.30</td>
      <td>3.13</td>
      <td>0.07</td>
      <td>2.71</td>
      <td>0.58</td>
      <td>13.77</td>
      <td>31.54</td>
      <td>0.46</td>
      <td>67.81</td>
      <td>8.27</td>
      <td>6.40</td>
      <td>40583.0</td>
      <td>97374.0</td>
      <td>6722.0</td>
      <td>148.0</td>
      <td>5834.0</td>
      <td>1247.0</td>
      <td>29612.0</td>
      <td>67809.0</td>
      <td>984.0</td>
      <td>145778.0</td>
      <td>17774.0</td>
      <td>13748.0</td>
    </tr>
    <tr>
      <td>Yuba</td>
      <td>75493.0</td>
      <td>52624.0</td>
      <td>23867.0</td>
      <td>17.61</td>
      <td>38.35</td>
      <td>3.51</td>
      <td>2.18</td>
      <td>3.22</td>
      <td>1.43</td>
      <td>6.76</td>
      <td>27.80</td>
      <td>0.45</td>
      <td>74.63</td>
      <td>5.47</td>
      <td>8.03</td>
      <td>13298.0</td>
      <td>28954.0</td>
      <td>2648.0</td>
      <td>1644.0</td>
      <td>2432.0</td>
      <td>1079.0</td>
      <td>5104.0</td>
      <td>20990.0</td>
      <td>343.0</td>
      <td>56344.0</td>
      <td>4126.0</td>
      <td>6065.0</td>
    </tr>
  </tbody>
</table>
      </div>
    </div>
  </div>
</body>